.IconMenuSection{
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.IconMenuSectionItems{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
}

.iconMenuItem {
  position: relative;
}

.iconMenuItem img{
  width: 4rem;
  margin: auto;
  transition: .2s ease;
}

.iconMenuItem:hover img{
  transform: translateY(-10%);
}

.iconMenuItem p{
  font-size: .8rem;
}

.iconMenuItem .hot-label {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--red);
  padding: .25rem .6rem;
  border: 1px solid var(--red);
  border-radius: 1rem;
  font-size: .68rem;
  font-weight: bold;
}

.IconMenu-fullView{
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.IconMenu-fullView img{
  width: 1.25rem;
  margin: auto;
}

.iconCategoriesHidden{
  opacity: 0;
  transition: .3s ease;
}

.iconMenuItem{
  opacity: 1;
}